<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>FUERZA MINERA</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="styleFM.css">
	</head>

	<body>
	 	<div class="row"> <!--ENCABEZADO-->
 			<img src="img/header.jpg" alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 		</div>
		<div class="registro col-xs-3 col-xs-offset-9 col-sm-3 col-sm-offset-9 col-md-3 col-md-offset-9 col-lg-3 col-lg-offset-9">
			<form class="text-right form-horizontal">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<label for="usuario">Usuario:</label>
						<input class="form-control" type="text" placeholder="Usuario" name="usuario" id="usuario">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<label for="contraseña">Contraseña:</label>
						<input class="form-control" type="password" placeholder="Contraseña" name="contraseña" id="contraseña">
					</div>
				<br>
					<div class="col-xs-7  col-sm-5 col-md-4 col-md-offset-8 col-lg-5 col-lg-offset-7">
						<input class="form-control btn-sm boton" type="submit" value="Ingresar" name="ingresar" id="ingresar">
						<br>
						<a href="" style="font-size:15px; color:#F0D431">Registrarse</a>
					</div>
				</div>
			</form>
		</div>

		<div class="container-fluid"> <!--BARRA DE NAVEGACION-->
			<div class="row">
				<header>
					<nav class="navbar navbar-default navbar-inverse">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barra">
									<span class="sr-only">Menu</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
						</div>
						<div class="collapse navbar-collapse" id="barra">
							<ul class="nav navbar-nav">
								<li><a href="somos.html">¿Quiénes somos?</a></li>
								<li><a href="contacto.html">Contactos</a></li>
								<li><a href="trabajo.html">Trabajo</a></li>
								<li><a href="noticia.html">Noticias</a></li>
								<li><a href="media.html">Media</a></li>
								<li><a href="info.html">Información</a></li>
							</ul>
						</div>
					</nav>
				</header>
			</div>
		</div>
		<div class="container"> <!--DETALLES-->
			<div class="row">
				<h1>Por una minería más sustentable y una mejor aprobación social.</h1>
			</div>
		</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" width="640" height="480" src="https://www.youtube-nocookie.com/embed/Lw_e0vF1IB4" frameborder="0" allowfullscreen></iframe>

</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="bootstrap/js/jquery.js"></script>
		<script src="bootstrap/js/bootstrap.js"></script>
	</body>
</html> 