<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>FUERZA MINERA</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="styleFM.css">
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript">

		function mostrar(id) {
			if (id == "nada") {
				$("#nada").show();
		        $("#persona").hide();
		        $("#empresa").hide();
		    }

		    if (id == "persona") {
		    	$("#nada").hide();
		        $("#persona").show();
		        $("#empresa").hide();
		    }

		    if (id == "empresa") {
		    	$("#nada").hide();
		        $("#persona").hide();
		        $("#empresa").show();
		    }
		}
		</script>

	</head>

	<body>
		<div style="position:absolute" class="container-fluid-propio col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!--BANNER-->
			<div style="background-image:url(img/banner.jpg); height:200px;"></div>
		</div>
		<div class="logo container">
			<a href="index.html"><img src="img/logo.jpg" alt="" class="img-responsive"></a>
		</div>

		<div class="registro col-xs-7 col-xs-offset-5 col-sm-7 col-sm-offset-5 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8"> <!--REGISTRO-->
			<form class="text-right form-horizontal">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-5 col-lg-5">
						<label for="usuario">Usuario:</label>
						<input class="form-control" type="text" placeholder="Usuario" name="usuario" id="usuario">
					</div>
					<div class="col-xs-4 col-sm-4 col-md-5 col-lg-5">
						<label for="contraseña">Contraseña:</label>
						<input class="form-control" type="password" placeholder="Contraseña" name="contraseña" id="contraseña">
					</div>
				<br>
					<div class="col-xs-4  col-sm-4 col-md-4 col-md-offset-8 col-lg-4 col-lg-offset-6">
						<input class="form-control btn-sm boton" type="submit" value="Ingresar" name="ingresar" id="ingresar">
						<a href="" style="font-size:15px; color:#F0D431">Registrarse</a>
					</div>
				</div>
			</form>
		</div>

		<div class="container-fluid"> <!--BARRA DE NAVEGACION-->
			<div class="row">
				<header>
					<nav class="navbar navbar-default navbar-inverse">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barra">
									<span class="sr-only">Menu</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
						</div>
						<div class="collapse navbar-collapse" id="barra">
							<ul class="nav navbar-nav">
								<li><a href="">¿Quiénes somos?</a></li>
								<li><a href="contacto.html">Contactos</a></li>
								<li><a href="trabajo.html">Trabajo</a></li>
								<li><a href="noticia.html">Noticias</a></li>
								<li><a href="media.html">Media</a></li>
								<li><a href="info.html">Información</a></li>
							</ul>
						</div>
					</nav>
				</header>
			</div>
		</div>

<!--REGISTRO-->
		<div class="container">
			<h1>REGISTRARSE</h1>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<form action="index.php" method="post">
					  		  <h2>Seleccione una opción:</h2> 
							    <select id="status" name="status" onChange="mostrar(this.value);" class="form-control" style="padding: 15px 12px; font-size: 15px;">
	  								<option value="nada" selected>-</option>
							        <option value="persona">Persona</option>
							        <option value="empresa">Empresa</option>
							     </select>
							</form>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div id="nada">
							</div>

							<div id="persona" style="display: none;">
							   	<h2>Persona</h2>
							   	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								   	<label style="color:black;">Nombre:</label>
								   	<input type="text" placeholder="Nombre" name="nombre" class="form-control" style="font-size:15px; height:35px" ">
							   	</div>
							   	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								   	<label style="color:black;">Apellido</label>
								   	<input type="text" placeholder="Apellido" name="apellido" class="form-control" style="font-size:15px; height:35px" ">
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								   	<label style="color:black;">Mail</label>
								   	<input type="text" placeholder="Mail" name="mail" class="form-control control-label" style="font-size:15px; height:35px" ">
								</div>
								<div class="col-xs-12 col-sm-6  col-md-offset-9 col-md-3 col-lg-offset-9 col-lg-3">
									<input class="form-control btn-sm boton" type="submit" value="Registrarme" name="registrar" id="registrar">
								</div>
							</div>
									
							<div id="empresa" style="display: none;">
								<h2>Empresa</h2>
							   	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								   	<label style="color:black;">Nombre de la empresa:</label>
								   	<input type="text" placeholder="Nombre de la empresa" name="nombreempresa" class="form-control" style="font-size:15px; height:35px" ">
							   	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="bootstrap/js/jquery.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>
</body>

</html> 